openapi: 3.0.3
info:
  contact:
    email: api@mist.io
    name: Mist API Team
  title: Mist API
  version: 2.0.0
  x-cli-name: Mist CLI
servers:
- description: Mist Hosted Service
  url: https://mist.io/
paths:
  /api/v2/clouds:
    get:
      description: List clouds owned by the active org. READ permission required on
        cloud.
      operationId: list_clouds
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by cloud provider:
            value: provider:amazon
          Filter by title:
            value: title:LXD1
          Composite filter:
            value: provider:packet AND status:enabled
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by title, descending:
            value: -title
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, title & owned_by:
            value: id,title,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCloudsResponse'
          description: List clouds response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: List clouds
      tags:
      - clouds
      x-cli-table-default:
      - name
      - provider
      - tags
      x-cli-table-extended:
      - id
      - name
      - provider
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
    post:
      description: Adds a new cloud and returns the cloud's id. ADD permission required
        on cloud.
      operationId: add_cloud
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCloudRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Cloud added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - add:cloud
      - CookieAuth:
        - add:cloud
      summary: Add cloud
      tags:
      - clouds
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
  /api/v2/clouds/{cloud}:
    delete:
      description: Delete target cloud
      operationId: delete_cloud
      parameters:
      - explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Cloud deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - delete:cloud
      - CookieAuth:
        - delete:cloud
      summary: Delete cloud
      tags:
      - clouds
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
    get:
      description: Get details about target cloud
      operationId: get_cloud
      parameters:
      - explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      - description: Order results by
        examples:
          Sort by title, descending:
            value: -title
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, title & owned_by:
            value: id,title,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudResponse'
          description: Cloud returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: Get cloud
      tags:
      - clouds
      x-cli-table-default:
      - name
      - provider
      - tags
      x-cli-table-extended:
      - id
      - name
      - provider
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
    put:
      description: Update target cloud title or credentials
      operationId: edit_cloud
      parameters:
      - explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                title:
                  description: Updated title
                  type: string
                credentials:
                  $ref: '#/components/schemas/CloudCredentials'
                features:
                  $ref: '#/components/schemas/CloudFeatures'
              type: object
      responses:
        "200":
          description: Cloud updated successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - edit:cloud
      - CookieAuth:
        - edit:cloud
      summary: Edit cloud
      tags:
      - clouds
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
  /api/v2/images:
    get:
      description: List images owned by the active org. READ permission required on
        image & cloud.
      operationId: list_images
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud title:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by OS type:
            value: os_type:windows
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImagesResponse'
          description: List images response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:image
        - read:cloud
      - CookieAuth:
        - read:image
        - read:cloud
      summary: List images
      tags:
      - images
      x-cli-table-default:
      - starred
      - name
      - cloud
      - os_type
      - tags
      x-cli-table-extended:
      - starred
      - id
      - external_id
      - name
      - cloud
      - os_type
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.images_controller
  /api/v2/images/{image}:
    get:
      description: Get details about target image
      operationId: get_image
      parameters:
      - explode: false
        in: path
        name: image
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetImageResponse'
          description: Image returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Image not found
      security:
      - ApiKeyAuth:
        - read:image
        - read:cloud
      - CookieAuth:
        - read:image
        - read:cloud
      summary: Get image
      tags:
      - images
      x-cli-table-default:
      - starred
      - name
      - cloud
      - os_type
      - tags
      x-cli-table-extended:
      - starred
      - id
      - external_id
      - name
      - cloud
      - os_type
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.images_controller
  /api/v2/keys:
    get:
      description: List keys owned by the active org. READ permission required on
        key.
      operationId: list_keys
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by key type:
            value: type:ssh
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by title, descending:
            value: -title
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, title & owned_by:
            value: id,title,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListKeysResponse'
          description: List keys response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:key
      - CookieAuth:
        - read:key
      summary: List keys
      tags:
      - keys
      x-cli-table-default:
      - name
      - default
      - tags
      x-cli-table-extended:
      - id
      - name
      - default
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
    post:
      description: Adds a new key and returns the key's id. ADD permission required
        on key.
      operationId: add_key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddKeyResponse'
          description: Key added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - add:key
      - CookieAuth:
        - add:key
      summary: Add key
      tags:
      - keys
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
  /api/v2/keys/{key}:
    delete:
      description: Delete target key
      operationId: delete_key
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: key deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - delete:key
      - CookieAuth:
        - delete:key
      summary: Delete key
      tags:
      - keys
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
    get:
      description: Get details about target key
      operationId: get_key
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: Return the private key. Requires READ_PRIVATE permission on key.
        explode: true
        in: query
        name: private
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Order results by
        examples:
          Sort by title, descending:
            value: -title
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, title & owned_by:
            value: id,title,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKeyResponse'
          description: Key returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - read:key
      - CookieAuth:
        - read:key
      summary: Get key
      tags:
      - keys
      x-cli-table-default:
      - name
      - default
      - tags
      x-cli-table-extended:
      - id
      - name
      - default
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
    put:
      description: Edit target key
      operationId: edit_key
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: New key name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Set as default
        explode: true
        in: query
        name: default
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Key successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - edit:key
      - CookieAuth:
        - edit:key
      summary: Edit key
      tags:
      - keys
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
  /api/v2/locations:
    get:
      description: List locations owned by the active org. READ permission required
        on location & cloud.
      operationId: list_locations
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud title:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by location name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: List locations response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: List locations
      tags:
      - locations
      x-cli-table-default:
      - name
      - cloud
      x-cli-table-extended:
      - id
      - name
      - cloud
      - external_id
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.locations_controller
  /api/v2/locations/{location}:
    get:
      description: Get details about target location
      operationId: get_location
      parameters:
      - explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLocationResponse'
          description: Location returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Location not found
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: Get location
      tags:
      - locations
      x-cli-table-default:
      - name
      - cloud
      x-cli-table-extended:
      - id
      - name
      - cloud
      - locations
      - external_id
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.locations_controller
  /api/v2/machines:
    get:
      description: List machines owned by the active org. READ permission required
        on machine & cloud.
      operationId: list_machines
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud title:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by machine type:
            value: state:running
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMachinesResponse'
          description: List machines response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:machine
        - read:cloud
      - CookieAuth:
        - read:machine
        - read:cloud
      summary: List machines
      tags:
      - machines
      x-cli-table-default:
      - name
      - cloud
      - state
      - tags
      x-cli-table-extended:
      - id
      - name
      - state
      - cloud
      - external_id
      - public_ips
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
    post:
      description: Creates one or more machines on the specified cloud. If async is
        true, a jobId will be returned. READ permission required on cloud. CREATE_RESOURCES
        permission required on cloud. READ permission required on location. CREATE_RESOURCES
        permission required on location. CREATE permission required on machine. RUN
        permission required on script. READ permission required on key.
      operationId: create_machine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMachineRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMachineResponse'
          description: Machine provisioning started
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:machine
        - read:cloud
        - create_resources:cloud
        - read:location
        - create_resources:location
        - read:image
        - create_resources:image
        - read:script
        - read:key
      - CookieAuth:
        - create:machine
        - read:cloud
        - create_resources:cloud
        - read:location
        - create_resources:location
        - read:image
        - create_resources:image
        - read:script
        - read:key
      summary: Create machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}:
    get:
      description: Get details about target machine
      operationId: get_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMachineResponse'
          description: Machine returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
      security:
      - ApiKeyAuth:
        - read:machine
        - read:cloud
      - CookieAuth:
        - read:machine
        - read:cloud
      summary: Get machine
      tags:
      - machines
      x-cli-table-default:
      - name
      - cloud
      - state
      - tags
      x-cli-table-extended:
      - id
      - name
      - state
      - cloud
      - external_id
      - public_ips
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
    put:
      description: Edit target machine
      operationId: edit_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - description: New machine name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Machine successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
      security:
      - ApiKeyAuth:
        - edit:machine
      - CookieAuth:
        - edit:machine
      summary: Edit machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/clone:
    post:
      description: Clone target machine
      operationId: clone_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine clone issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - clone:machine
      - CookieAuth:
        - clone:machine
      summary: Clone machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/console:
    post:
      description: Open VNC console on target machine
      operationId: console
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine console opened successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - console:machine
      - CookieAuth:
        - console:machine
      summary: Open console
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/destroy:
    post:
      description: Destroy target machine
      operationId: destroy_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine destroy issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - destroy:machine
      - CookieAuth:
        - destroy:machine
      summary: Destroy machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/expose:
    post:
      description: Expose target machine
      operationId: expose_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine expose issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - expose:machine
      - CookieAuth:
        - expose:machine
      summary: Expose machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/reboot:
    post:
      description: Reboot target machine
      operationId: reboot_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine reboot issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - reboot:machine
      - CookieAuth:
        - reboot:machine
      summary: Reboot machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/rename:
    post:
      description: Rename target machine
      operationId: rename_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine renamed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - rename:machine
      - CookieAuth:
        - rename:machine
      summary: Rename machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/resize:
    post:
      description: Resize target machine
      operationId: resize_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine resize issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - resize:machine
      - CookieAuth:
        - resize:machine
      summary: Resize machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/resume:
    post:
      description: Resume target machine
      operationId: resume_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine resume issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - resume:machine
      - CookieAuth:
        - resume:machine
      summary: Resume machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/ssh:
    post:
      description: Open secure shell on target machine
      operationId: ssh
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to machine shell
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:cloud
        - read:machine
        - ssh:machine
      - CookieAuth:
        - read:cloud
        - read:machine
        - ssh:machine
      summary: Open secure shell
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
    x-cli-ignore: true
  /api/v2/machines/{machine}/actions/start:
    post:
      description: Start target machine
      operationId: start_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine start issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - start:machine
      - CookieAuth:
        - start:machine
      summary: Start machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/stop:
    post:
      description: Stop target machine
      operationId: stop_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine stop issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - stop:machine
      - CookieAuth:
        - stop:machine
      summary: Stop machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/suspend:
    post:
      description: Suspend target machine
      operationId: suspend_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine suspend issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - suspend:machine
      - CookieAuth:
        - suspend:machine
      summary: Suspend machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/undefine:
    post:
      description: Undefine target machine
      operationId: undefine_machine
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine undefine issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - undefine:machine
      - CookieAuth:
        - undefine:machine
      summary: Undefine machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/snapshots:
    get:
      description: List snapshots of target machine
      operationId: list_snapshots
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSnapshotsResponse'
          description: List machine snapshots response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
      summary: Suspend machine
      tags:
      - snapshots
      x-openapi-router-controller: mist_api_v2.controllers.snapshots_controller
    post:
      description: Create snapshots of target machine
      operationId: create_snapshot
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSnapshotResponse'
          description: Create machine snapshot response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      summary: Create snapshot
      tags:
      - snapshots
      x-openapi-router-controller: mist_api_v2.controllers.snapshots_controller
  /api/v2/machines/{machine}/snapshots/{snapshot}:
    delete:
      description: Remove target machine snapshot
      operationId: remove_snapshot
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: snapshot
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Snapshot removed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      summary: Remove snapshot
      tags:
      - snapshots
      x-openapi-router-controller: mist_api_v2.controllers.snapshots_controller
    post:
      description: Revert machine to snapshot
      operationId: revert_to_snapshot
      parameters:
      - explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: snapshot
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Revert machine to snapshot issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - revert_to_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - revert_to_snapshots:machine
      summary: Revert to snapshot
      tags:
      - snapshots
      x-openapi-router-controller: mist_api_v2.controllers.snapshots_controller
  /api/v2/networks:
    get:
      description: List networks owned by the active org. READ permission required
        on network & cloud.
      operationId: list_networks
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud title:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by network name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksResponse'
          description: List networks response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:network
        - read:cloud
      - CookieAuth:
        - read:network
        - read:cloud
      summary: List networks
      tags:
      - networks
      x-cli-table-default:
      - name
      - cloud
      - machines
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - external_id
      - machines
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
    post:
      description: Creates one or more networks on the specified cloud. If async is
        true, a jobId will be returned. READ permission required on cloud. CREATE_RESOURCES
        permission required on cloud. CREATE permission required on network.
      operationId: create_network
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNetworkResponse'
          description: Network provisioning started
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:network
        - read:cloud
        - create_resources:cloud
      - CookieAuth:
        - create:network
        - read:cloud
        - create_resources:cloud
      summary: Create network
      tags:
      - networks
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
  /api/v2/networks/{network}:
    get:
      description: Get details about target network
      operationId: get_network
      parameters:
      - explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkResponse'
          description: Network returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Network not found
      security:
      - ApiKeyAuth:
        - read:network
        - read:cloud
      - CookieAuth:
        - read:network
        - read:cloud
      summary: Get network
      tags:
      - networks
      x-cli-table-default:
      - name
      - cloud
      - machines
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - location
      - external_id
      - subnets
      - machines
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
    put:
      description: Edit target network
      operationId: edit_network
      parameters:
      - explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: New network name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Network successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Network not found
      security:
      - ApiKeyAuth:
        - edit:network
      - CookieAuth:
        - edit:network
      summary: Edit network
      tags:
      - networks
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
  /api/v2/rules:
    get:
      description: Return a filtered list of rules
      operationId: list_rules
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by total_run_count:
            value: total_run_count:5
          Filter by title:
            value: rule-disk*
          Composite filter:
            value: provider:packet AND total_run_count:5
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by title, descending:
            value: -title
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, title & owned_by:
            value: id,title,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRulesResponse'
          description: List rules response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:rule
      - CookieAuth:
        - read:rule
      summary: List rules
      tags:
      - rules
      x-cli-table-default:
      - title
      - queries
      - actions
      - tags
      x-cli-table-extended:
      - id
      - title
      - resource_type
      - selectors
      - queries
      - actions
      - window
      - frequency
      - tags
      x-openapi-router-controller: mist_api_v2.controllers.rules_controller
    post:
      description: Add a new rule, READ permission required on target resource, ADD
        permission required on Rule
      operationId: add_rule
      parameters:
      - explode: true
        in: query
        name: queries
        required: true
        schema:
          $ref: '#/components/schemas/Queries'
        style: form
      - explode: true
        in: query
        name: window
        required: true
        schema:
          $ref: '#/components/schemas/Window'
        style: form
      - explode: true
        in: query
        name: frequency
        required: true
        schema:
          $ref: '#/components/schemas/Frequency'
        style: form
      - explode: true
        in: query
        name: trigger_after
        required: true
        schema:
          $ref: '#/components/schemas/TriggerAfter'
        style: form
      - explode: true
        in: query
        name: actions
        required: true
        schema:
          $ref: '#/components/schemas/RuleActions'
        style: form
      - explode: true
        in: query
        name: selectors
        required: true
        schema:
          $ref: '#/components/schemas/Selector'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
          description: Rule added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - add:rule
      - CookieAuth:
        - add:rule
      summary: Add rule
      tags:
      - rules
      x-openapi-router-controller: mist_api_v2.controllers.rules_controller
  /api/v2/rules/{rule}:
    delete:
      description: Delete a rule given its UUID.
      operationId: delete_rule
      parameters:
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Rule deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - delete:rule
      - CookieAuth:
        - delete:rule
      summary: Delete rule
      tags:
      - rules
      x-openapi-router-controller: mist_api_v2.controllers.rules_controller
    get:
      description: Get details about target rule
      operationId: get_rule
      parameters:
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      - description: Order results by
        examples:
          Sort by title, descending:
            value: -title
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, title & owned_by:
            value: id,title,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRuleResponse'
          description: Rule returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - read:rule
      - CookieAuth:
        - read:rule
      summary: Get rule
      tags:
      - rules
      x-cli-table-default:
      - title
      - queries
      - actions
      - tags
      x-cli-table-extended:
      - id
      - title
      - resource_type
      - selectors
      - queries
      - actions
      - window
      - frequency
      - tags
      x-openapi-router-controller: mist_api_v2.controllers.rules_controller
    patch:
      description: Rename a rule
      operationId: rename_rule
      parameters:
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: action
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Rule renamed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - write:rule
      - CookieAuth:
        - write:rule
      summary: Rename rule
      tags:
      - rules
      x-openapi-router-controller: mist_api_v2.controllers.rules_controller
    post:
      description: Update a rule given its UUID, EDIT permission required on rule
      operationId: update_rule
      parameters:
      - explode: true
        in: query
        name: queries
        required: false
        schema:
          $ref: '#/components/schemas/Queries'
        style: form
      - explode: true
        in: query
        name: window
        required: false
        schema:
          $ref: '#/components/schemas/Window'
        style: form
      - explode: true
        in: query
        name: frequency
        required: false
        schema:
          $ref: '#/components/schemas/Frequency'
        style: form
      - explode: true
        in: query
        name: trigger_after
        required: false
        schema:
          $ref: '#/components/schemas/TriggerAfter'
        style: form
      - explode: true
        in: query
        name: actions
        required: false
        schema:
          $ref: '#/components/schemas/RuleActions'
        style: form
      - explode: true
        in: query
        name: selectors
        required: false
        schema:
          $ref: '#/components/schemas/Selector'
        style: form
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
          description: Rule updated succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - read:cloud
        - edit:rule
      - CookieAuth:
        - read:cloud
        - edit:rule
      summary: Update rule
      tags:
      - rules
      x-openapi-router-controller: mist_api_v2.controllers.rules_controller
    put:
      description: Enable or disable a rule
      operationId: toggle_rule
      parameters:
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: action
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Rule toggled successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - write:rule
      - CookieAuth:
        - write:rule
      summary: Toggle rule
      tags:
      - rules
      x-openapi-router-controller: mist_api_v2.controllers.rules_controller
  /api/v2/scripts:
    get:
      description: List scripts owned by the active org. READ permission required
        on script.
      operationId: list_scripts
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by script name:
            value: install-tensorflow
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 3rd result:
            value: "3"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & created_by:
            value: id,name,created_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name'
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScriptsResponse'
          description: List scripts response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:script
      - CookieAuth:
        - read:script
      summary: List scripts
      tags:
      - scripts
      x-cli-table-default:
      - name
      - tags
      x-cli-table-extended:
      - id
      - name
      - description
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.scripts_controller
  /api/v2/scripts/{script}:
    delete:
      description: Delete target script
      operationId: delete_script
      parameters:
      - explode: false
        in: path
        name: script
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Script deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Script not found
      security:
      - ApiKeyAuth:
        - delete:script
      - CookieAuth:
        - delete:script
      summary: Delete script
      tags:
      - scripts
      x-openapi-router-controller: mist_api_v2.controllers.scripts_controller
    get:
      description: Get details about target script
      operationId: get_script
      parameters:
      - explode: false
        in: path
        name: script
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name'
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScriptResponse'
          description: Script returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Script not found
      security:
      - ApiKeyAuth:
        - read:script
      - CookieAuth:
        - read:script
      summary: Get script
      tags:
      - scripts
      x-cli-table-default:
      - name
      - tags
      x-cli-table-extended:
      - id
      - name
      - description
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.scripts_controller
    put:
      description: Edit target script
      operationId: edit_script
      parameters:
      - explode: false
        in: path
        name: script
        required: true
        schema:
          type: string
        style: simple
      - description: New script name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: New script description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Script successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Script not found
      security:
      - ApiKeyAuth:
        - edit:script
      - CookieAuth:
        - edit:script
      summary: Edit script
      tags:
      - scripts
      x-openapi-router-controller: mist_api_v2.controllers.scripts_controller
  /api/v2/secrets:
    get:
      description: List secrets owned by the active org. READ permission required
        on secret.
      operationId: list_secrets
      parameters:
      - description: Only return secrets under this path
        explode: true
        in: query
        name: path
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by name:
            value: name:clouds/EC2-Tokyo
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & created_by:
            value: id,title,created_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretsResponse'
          description: List secrets response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:secret
      - CookieAuth:
        - read:secret
      summary: List secrets
      tags:
      - secrets
      x-cli-table-default:
      - id
      - name
      - tags
      x-cli-table-extended:
      - id
      - name
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.secrets_controller
    post:
      description: Creates a new secret and returns the secret's id. CREATE permission
        required on secret.
      operationId: create_secret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Secret added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "409":
          description: Path already exists. Change name of key
      security:
      - ApiKeyAuth:
        - create:secret
      - CookieAuth:
        - create:secret
      summary: Create secret
      tags:
      - secrets
      x-openapi-router-controller: mist_api_v2.controllers.secrets_controller
  /api/v2/secrets/{secret}:
    delete:
      description: Delete target secret
      operationId: delete_secret
      parameters:
      - explode: false
        in: path
        name: secret
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Secret deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Secret not found
      security:
      - ApiKeyAuth:
        - delete:secret
      - CookieAuth:
        - delete:secret
      summary: Delete secret
      tags:
      - secrets
      x-openapi-router-controller: mist_api_v2.controllers.secrets_controller
    get:
      description: Read target secret
      operationId: get_secret
      parameters:
      - explode: false
        in: path
        name: secret
        required: true
        schema:
          type: string
        style: simple
      - description: Return the secret's value. Requires READ_VALUE permission on
          secret.
        explode: true
        in: query
        name: value
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSecretResponse'
          description: Secret returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Secret not found
      security:
      - ApiKeyAuth:
        - read:secret
      - CookieAuth:
        - read:secret
      summary: Get secret
      tags:
      - secrets
      x-openapi-router-controller: mist_api_v2.controllers.secrets_controller
    put:
      description: Edit/update target secret
      operationId: edit_secret
      parameters:
      - explode: false
        in: path
        name: secret
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSecretRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Secret edited successfully
        "400":
          description: Missing `secret` required parameter
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Secret not found
      security:
      - ApiKeyAuth:
        - edit:secret
      - CookieAuth:
        - edit:secret
      summary: Edit secret
      tags:
      - secrets
      x-openapi-router-controller: mist_api_v2.controllers.secrets_controller
  /api/v2/sizes:
    get:
      description: List sizes owned by the active org. READ permission required on
        size & cloud.
      operationId: list_sizes
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud title:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by size name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSizesResponse'
          description: List sizes response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: List sizes
      tags:
      - sizes
      x-cli-table-default:
      - name
      - cloud
      x-cli-table-extended:
      - id
      - name
      - cloud
      - external_id
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.sizes_controller
  /api/v2/sizes/{size}:
    get:
      description: Get details about target size
      operationId: get_size
      parameters:
      - explode: false
        in: path
        name: size
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSizeResponse'
          description: Size returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Size not found
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: Get size
      tags:
      - sizes
      x-cli-table-default:
      - name
      - cloud
      x-cli-table-extended:
      - id
      - name
      - cloud
      - locations
      - external_id
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.sizes_controller
  /api/v2/volumes:
    get:
      description: List volumes owned by the active org. READ permission required
        on volume & cloud.
      operationId: list_volumes
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud title:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by volume location:
            value: location:Amsterdam
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVolumesResponse'
          description: List volumes response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:volume
        - read:cloud
      - CookieAuth:
        - read:volume
        - read:cloud
      summary: List volumes
      tags:
      - volumes
      x-cli-table-default:
      - name
      - size
      - cloud
      - location
      - attached_to
      - tags
      x-cli-table-extended:
      - id
      - name
      - size
      - cloud
      - location
      - external_id
      - attached_to
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.volumes_controller
    post:
      description: Creates one or more volumes on the specified cloud. If async is
        true, a jobId will be returned. READ permission required on cloud. CREATE_RESOURCES
        permission required on cloud. READ permission required on location. CREATE_RESOURCES
        permission required on location. CREATE permission required on volume.
      operationId: create_volume
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVolumeResponse'
          description: Volume provisioning started
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:volume
        - read:cloud
        - create_resources:cloud
        - read:location
        - create_resources:location
      - CookieAuth:
        - create:volume
        - read:cloud
        - create_resources:cloud
        - read:location
        - create_resources:location
      summary: Create volume
      tags:
      - volumes
      x-openapi-router-controller: mist_api_v2.controllers.volumes_controller
  /api/v2/volumes/{volume}:
    get:
      description: Get details about target volume
      operationId: get_volume
      parameters:
      - explode: false
        in: path
        name: volume
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVolumeResponse'
          description: Volume returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Volume not found
      security:
      - ApiKeyAuth:
        - read:volume
        - read:cloud
      - CookieAuth:
        - read:volume
        - read:cloud
      summary: Get volume
      tags:
      - volumes
      x-cli-table-default:
      - name
      - size
      - cloud
      - location
      - attached_to
      - tags
      x-cli-table-extended:
      - id
      - name
      - size
      - cloud
      - location
      - external_id
      - attached_to
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.volumes_controller
    put:
      description: Edit target volume
      operationId: edit_volume
      parameters:
      - explode: false
        in: path
        name: volume
        required: true
        schema:
          type: string
        style: simple
      - description: New volume name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Volume successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Volume not found
      security:
      - ApiKeyAuth:
        - edit:volume
        - read:cloud
      - CookieAuth:
        - edit:volume
        - read:cloud
      summary: Edit volume
      tags:
      - volumes
      x-openapi-router-controller: mist_api_v2.controllers.volumes_controller
  /api/v2/zones:
    get:
      description: List zones owned by the active org. READ permission required on
        zone & cloud.
      operationId: list_zones
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud title:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by zone name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListZonesResponse'
          description: List zones response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
[...]
