openapi: 3.0.3
info:
  contact:
    email: api@mist.io
    name: Mist API Team
  title: Mist API
  version: 2.0.0
  x-cli-name: Mist CLI
servers:
- description: Mist Hosted Service
  url: https://mist.io/
paths:
  /api/v2/auth:
    get:
      description: Return info about current authenticated session.
      operationId: describe_auth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthInfo'
          description: Auth session info
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: Authentication info
      tags:
      - auth
      x-openapi-router-controller: mist_api_v2.controllers.auth_controller
  /api/v2/auth/sessions:
    get:
      description: Return a list of active sessions
      operationId: list_sessions
      parameters:
      - description: Only return results matching search filter
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by last_active, descending:
            value: -last_active
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return email, last_login & registration_date:
            value: "email,last_login,registration_date"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
          description: List sessions response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: List sessions
      tags:
      - auth
      x-cli-table-default:
      - last_active
      x-cli-table-extended:
      - last_active
      - id
      - creation_date
      x-openapi-router-controller: mist_api_v2.controllers.auth_controller
    post:
      description: Sign in
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginCredentials'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthInfo'
          description: Authentication info
        "401":
          description: Authentication failed
      summary: Sign in to the portal
      tags:
      - auth
      x-openapi-router-controller: mist_api_v2.controllers.auth_controller
  /api/v2/auth/tokens:
    get:
      description: List API tokens
      operationId: list_tokens
      parameters:
      - description: Only return results matching search filter
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return email, last_login & registration_date:
            value: "email,last_login,registration_date"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTokensResponse'
          description: List tokens response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: List API tokens
      tags:
      - auth
      x-cli-table-default:
      - email
      x-cli-table-extended:
      - email
      - id
      - last_login
      - registration_date
      x-openapi-router-controller: mist_api_v2.controllers.auth_controller
    post:
      description: Create new API token
      operationId: create_token
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTokenResponse'
          description: List sessions response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: Create token
      tags:
      - auth
      x-openapi-router-controller: mist_api_v2.controllers.auth_controller
  /api/v2/clouds:
    get:
      description: List clouds owned by the active org. READ permission required on
        cloud.
      operationId: list_clouds
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by cloud provider:
            value: provider:amazon
          Filter by name:
            value: name:LXD1
          Composite filter:
            value: provider:packet AND status:enabled
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: "creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCloudsResponse'
          description: List clouds response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: List clouds
      tags:
      - clouds
      x-cli-table-default:
      - name
      - provider
      - tags
      x-cli-table-extended:
      - id
      - name
      - provider
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
    post:
      description: Adds a new cloud and returns the cloud's id. ADD permission required
        on cloud.
      operationId: add_cloud
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCloudRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Cloud added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - add:cloud
      - CookieAuth:
        - add:cloud
      summary: Add cloud
      tags:
      - clouds
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
  /api/v2/clouds/{cloud}:
    delete:
      description: Remove target cloud
      operationId: remove_cloud
      parameters:
      - example: my-cloud
        explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Cloud removed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - remove:cloud
      - CookieAuth:
        - remove:cloud
      summary: Remove cloud
      tags:
      - clouds
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
    get:
      description: Get details about target cloud
      operationId: get_cloud
      parameters:
      - example: my-cloud
        explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: "creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudResponse'
          description: Cloud returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: Get cloud
      tags:
      - clouds
      x-cli-table-default:
      - name
      - provider
      - tags
      x-cli-table-extended:
      - id
      - name
      - provider
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
    put:
      description: Update target cloud name or credentials
      operationId: edit_cloud
      parameters:
      - example: my-cloud
        explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditCloudRequest'
      responses:
        "200":
          description: Cloud updated successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - edit:cloud
      - CookieAuth:
        - edit:cloud
      summary: Edit cloud
      tags:
      - clouds
      x-openapi-router-controller: mist_api_v2.controllers.clouds_controller
  /api/v2/clusters:
    get:
      description: List clusters
      operationId: list_clusters
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by cluster created_by attribute:
            value: created_by:csk
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: "cloud:provider, creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClustersResponse'
          description: List clusters response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cluster
        - read:cloud
      - CookieAuth:
        - read:cluster
        - read:cloud
      summary: List clusters
      tags:
      - clusters
      x-cli-table-default:
      - name
      - cloud
      - total_nodes
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - total_nodes
      - total_cpus
      - total_ram
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.clusters_controller
    post:
      description: Create a new cluster and return the cluster's id
      operationId: create_cluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterResponse'
          description: Cluster creation started
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:cluster
        - read:cloud
        - create_resources:cloud
      - CookieAuth:
        - create:cluster
        - read:cloud
        - create_resources:cloud
      summary: Create cluster
      tags:
      - clusters
      x-openapi-router-controller: mist_api_v2.controllers.clusters_controller
  /api/v2/clusters/{cluster}:
    delete:
      description: Destroy target clusters
      operationId: destroy_cluster
      parameters:
      - example: my-cluster
        explode: false
        in: path
        name: cluster
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestroyClusterResponse'
          description: Cluster destruction successful
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cluster not found
      security:
      - ApiKeyAuth:
        - read:cloud
        - destroy:cluster
      - CookieAuth:
        - read:cloud
        - destroy:cluster
      summary: Destroy cluster
      tags:
      - clusters
      x-openapi-router-controller: mist_api_v2.controllers.clusters_controller
    get:
      description: Get details about target cluster
      operationId: get_cluster
      parameters:
      - example: my-cluster
        explode: false
        in: path
        name: cluster
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: "cloud:provider, creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: Return the cluster's credentials. Requires READ_CREDENTIALS permission
          on cluster.
        example: true
        explode: true
        in: query
        name: credentials
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClusterResponse'
          description: Cluster returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cluster not found
      security:
      - ApiKeyAuth:
        - read:cluster
        - read:cloud
      - CookieAuth:
        - read:cluster
        - read:cloud
      summary: Get cluster
      tags:
      - clusters
      x-cli-table-default:
      - name
      - cloud
      - total_nodes
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - total_nodes
      - total_cpus
      - total_ram
      - tags
      - owned_by
      - created_by
      x-cli-table-override:
      - credentials
      x-openapi-router-controller: mist_api_v2.controllers.clusters_controller
  /api/v2/clusters/{cluster}/nodepools/{nodepool}:
    post:
      description: Scale the nodes of the specified nodepool
      operationId: scale_nodepool
      parameters:
      - example: my-cluster
        explode: false
        in: path
        name: cluster
        required: true
        schema:
          type: string
        style: simple
      - example: my-nodepool-name
        explode: false
        in: path
        name: nodepool
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScaleNodepoolRequest'
      responses:
        "200":
          description: Nodepool scaling started
        "400":
          description: Bad Request
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:cluster
        - read:cloud
        - create_resources:cloud
      - CookieAuth:
        - create:cluster
        - read:cloud
        - create_resources:cloud
      summary: Scale cluster nodepool
      tags:
      - clusters
      x-openapi-router-controller: mist_api_v2.controllers.clusters_controller
  /api/v2/datapoints:
    get:
      description: Get datapoints for a specific query
      operationId: get_datapoints
      parameters:
      - examples:
          Query system_load1:
            value: system_load1
          Query net_bytes_sent:
            value: "rate(net_bytes_sent{interface=\"eth0\", machine_id=\"1234\"})"
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - examples:
          Example string:
            value: "cluster=east1,production"
          Example dictionary:
            value:
              cluster: east1
              production: ""
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - examples:
          Filter by machine type:
            value: state:running
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - examples:
          Unix timestamp:
            value: 1633096171
          RFC3339:
            value: 2019-10-12T07:20:50.52Z
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - examples:
          Unix timestamp:
            value: 1633096171
          RFC3339:
            value: 2019-10-12T07:20:50.52Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - examples:
          "5 seconds (float)":
            value: 5.0
          "5 seconds (duration format)":
            value: 5s
          "1 minute":
            value: 1m
          "2 hours":
            value: 2h
          "20 days":
            value: 20d
          "4 weeks":
            value: 4w
          "1 year":
            value: 1y
        explode: true
        in: query
        name: step
        required: false
        schema:
          type: string
        style: form
      - examples:
          Unix timestamp:
            value: 1633096171
          RFC3339:
            value: 2019-10-12T07:20:50.52Z
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatapointsResponse'
          description: Datapoints returned successfully
        "400":
          description: Bad Request
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "422":
          description: Unprocessable Entity
        "503":
          description: Service Unavailable
      security:
      - ApiKeyAuth:
        - read:cloud
        - read:machine
      - CookieAuth:
        - read:cloud
        - read:machine
      summary: Get datapoints
      tags:
      - datapoints
      x-openapi-router-controller: mist_api_v2.controllers.datapoints_controller
  /api/v2/images:
    get:
      description: List images owned by the active org. READ permission required on
        image & cloud.
      operationId: list_images
      parameters:
      - examples:
          Filter by cloud name:
            value: my-cloud
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by OS type:
            value: os_type:windows
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: "cloud:provider, creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImagesResponse'
          description: List images response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:image
        - read:cloud
      - CookieAuth:
        - read:image
        - read:cloud
      summary: List images
      tags:
      - images
      x-cli-table-default:
      - starred
      - name
      - cloud
      - os_type
      - tags
      x-cli-table-extended:
      - starred
      - id
      - external_id
      - name
      - cloud
      - os_type
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.images_controller
  /api/v2/images/{image}:
    get:
      description: Get details about target image
      operationId: get_image
      parameters:
      - example: ubuntu-1604-xenial-v20210928
        explode: false
        in: path
        name: image
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: "cloud:provider, creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetImageResponse'
          description: Image returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Image not found
      security:
      - ApiKeyAuth:
        - read:image
        - read:cloud
      - CookieAuth:
        - read:image
        - read:cloud
      summary: Get image
      tags:
      - images
      x-cli-table-default:
      - starred
      - name
      - cloud
      - os_type
      - tags
      x-cli-table-extended:
      - starred
      - id
      - external_id
      - name
      - cloud
      - os_type
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.images_controller
  /api/v2/jobs/{job_id}:
    get:
      operationId: get_job
      parameters:
      - example: ab74e2f0b7ae4999b1e4013e20dac418
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobResponse'
          description: Job returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Job not found
      security:
      - ApiKeyAuth:
        - read:job
      - CookieAuth:
        - read:job
      summary: Get job
      tags:
      - jobs
      x-openapi-router-controller: mist_api_v2.controllers.jobs_controller
  /api/v2/keys:
    get:
      description: List keys owned by the active org. READ permission required on
        key.
      operationId: list_keys
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by owner:
            value: owned_by:csk@mist.io
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: "creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListKeysResponse'
          description: List keys response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:key
      - CookieAuth:
        - read:key
      summary: List keys
      tags:
      - keys
      x-cli-table-default:
      - name
      - default
      - tags
      x-cli-table-extended:
      - id
      - name
      - default
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
    post:
      description: Adds a new key and returns the key's id. ADD permission required
        on key.
      operationId: add_key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddKeyResponse'
          description: Key added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - add:key
      - CookieAuth:
        - add:key
      summary: Add key
      tags:
      - keys
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
  /api/v2/keys/{key}:
    delete:
      description: Delete target key
      operationId: delete_key
      parameters:
      - example: my-key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: key deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - delete:key
      - CookieAuth:
        - delete:key
      summary: Delete key
      tags:
      - keys
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
    get:
      description: Get details about target key
      operationId: get_key
      parameters:
      - example: my-key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: Return the private key. Requires READ_PRIVATE permission on key.
        explode: true
        in: query
        name: private
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: "creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKeyResponse'
          description: Key returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - read:key
      - CookieAuth:
        - read:key
      summary: Get key
      tags:
      - keys
      x-cli-table-default:
      - name
      - default
      - tags
      x-cli-table-extended:
      - id
      - name
      - default
      - tags
      - owned_by
      - created_by
      x-cli-table-override:
      - private
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
    put:
      description: Edit target key
      operationId: edit_key
      parameters:
      - example: my-key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: New key name
        example: my-renamed-key
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Set as default
        explode: true
        in: query
        name: default
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Key successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - edit:key
      - CookieAuth:
        - edit:key
      summary: Edit key
      tags:
      - keys
      x-openapi-router-controller: mist_api_v2.controllers.keys_controller
  /api/v2/locations:
    get:
      description: List locations owned by the active org. READ permission required
        on location & cloud.
      operationId: list_locations
      parameters:
      - examples:
          Filter by cloud name:
            value: my-cloud
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by location name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: List locations response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: List locations
      tags:
      - locations
      x-cli-table-default:
      - name
      - cloud
      x-cli-table-extended:
      - id
      - name
      - cloud
      - external_id
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.locations_controller
  /api/v2/locations/{location}:
    get:
      description: Get details about target location
      operationId: get_location
      parameters:
      - example: us-central1-a
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLocationResponse'
          description: Location returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Location not found
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: Get location
      tags:
      - locations
      x-cli-table-default:
      - name
      - cloud
      x-cli-table-extended:
      - id
      - name
      - cloud
      - locations
      - external_id
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.locations_controller
  /api/v2/machines:
    get:
      description: List machines owned by the active org. READ permission required
        on machine & cloud.
      operationId: list_machines
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by machine type:
            value: state:running
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: "cloud:provider, creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMachinesResponse'
          description: List machines response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:machine
        - read:cloud
      - CookieAuth:
        - read:machine
        - read:cloud
      summary: List machines
      tags:
      - machines
      x-cli-table-default:
      - name
      - cloud
      - state
      - tags
      x-cli-table-extended:
      - id
      - name
      - state
      - cloud
      - external_id
      - public_ips
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
    post:
      description: "Creates one or more machines on the specified cloud. If async\
        \ is true, a jobId will be returned.\nREAD permission required on cloud. CREATE_RESOURCES\
        \ permission required on cloud. READ permission required on location.\nCREATE_RESOURCES\
        \ permission required on location. CREATE permission required on machine.\
        \ RUN permission required on script. READ permission required on key.\n"
      operationId: create_machine
      requestBody:
        content:
          application/json:
            examples:
              NoCloudSpecifiedMachine:
                summary: Provision a machine without defining a specific cloud
                value:
                  name: TestMachine
                  image: Ubuntu
                  size:
                    cpu: 1
                    memory: 1024
                  key: TestKey
                  monitoring: true
              SelectedCloudMachine:
                summary: Provision a machine in a specific cloud
                value:
                  cloud: 6a760c7690dc4ac9913ce9b109aa900c
                  name: testmachine
                  image: Ubuntu
                  size:
                    cpu: 2
                    memory: 2048
              AmazonExampleMachine:
                summary: Provision a machine in one of your Amazon clouds
                value:
                  provider: amazon
                  name: awsmachine
                  image: Ubuntu
                  size: t3.micro
              GoogleExampleMachine:
                summary: Provision a machine in one of your Google clouds
                value:
                  provider: google
                  name: gcemachine
                  image: Ubuntu
                  size: e2-medium
              AzureExampleMachine:
                summary: Provision a machine in one of your Azure clouds
                value:
                  provider: azure
                  name: azuremachine
                  image: Ubuntu
                  size: Standard_D4s_v5
              FullExample:
                summary: "Provision 2 machines with monitoring, schedules, expiration\
                  \ and provisioning scripts"
                value:
                  cloud: GCE
                  name: testmachine
                  image: Ubuntu
                  size:
                    cpu: 2
                    memory: 2048
                  location: us-east1-b
                  key: TestKey
                  monitoring: true
                  quantity: 2
                  expiration:
                    action: destroy
                    date: 2025-08-30T18:24:15Z
                  scripts:
                  - inline: |-
                      #!/bin/bash
                       touch ~/inline.txt
                  - script: test123
                  schedules:
                  - schedule_type: one_off
                    datetime: 2023-09-22T18:19:28Z
                    script:
                      script: test123
            schema:
              $ref: '#/components/schemas/CreateMachineRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMachineResponse'
          description: Machine provisioning started
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:machine
        - read:cloud
        - create_resources:cloud
        - read:location
        - create_resources:location
        - read:image
        - create_resources:image
        - read:script
        - read:key
      - CookieAuth:
        - create:machine
        - read:cloud
        - create_resources:cloud
        - read:location
        - create_resources:location
        - read:image
        - create_resources:image
        - read:script
        - read:key
      summary: Create machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}:
    get:
      description: Get details about target machine
      operationId: get_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: "cloud:provider, creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMachineResponse'
          description: Machine returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
      security:
      - ApiKeyAuth:
        - read:machine
        - read:cloud
      - CookieAuth:
        - read:machine
        - read:cloud
      summary: Get machine
      tags:
      - machines
      x-cli-table-default:
      - name
      - cloud
      - state
      - tags
      x-cli-table-extended:
      - id
      - name
      - state
      - cloud
      - external_id
      - public_ips
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
    put:
      description: Edit target machine
      operationId: edit_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMachineRequest'
      responses:
        "200":
          description: Machine successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
      security:
      - ApiKeyAuth:
        - edit:machine
      - CookieAuth:
        - edit:machine
      summary: Edit machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/associate-key:
    put:
      description: Associate a key with a machine.
      operationId: associate_key
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyMachineAssociation'
      responses:
        "200":
          description: Association successful
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine or Key not found
        "422":
          description: Action not supported on target machine
        "503":
          description: Could not connect to target machine
      security:
      - ApiKeyAuth:
        - associate_key:machine
        - read:cloud
        - read_private:key
      - CookieAuth:
        - associate_key:machine
        - read:cloud
        - read_private:key
      summary: Associate a key with a machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/clone:
    post:
      description: Clone target machine
      operationId: clone_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - example: my-machine-clone
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - example: false
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Machine clone issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - clone:machine
      - CookieAuth:
        - clone:machine
      summary: Clone machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/console:
    post:
      description: Open VNC console on target machine
      operationId: console
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine console opened successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
        "501":
          description: Action not implemented
      security:
      - ApiKeyAuth:
        - console:machine
      - CookieAuth:
        - console:machine
      summary: Open console
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
    x-cli-ignore: true
  /api/v2/machines/{machine}/actions/destroy:
    post:
      description: Destroy target machine
      operationId: destroy_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine destroy issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - destroy:machine
      - CookieAuth:
        - destroy:machine
      summary: Destroy machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/disassociate-key:
    delete:
      description: Disassociate a key from a machine.
      operationId: disassociate_key
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyMachineDisassociation'
      responses:
        "200":
          description: Disassociation successful
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine or Key not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - disassociate_key:machine
        - read:cloud
      - CookieAuth:
        - disassociate_key:machine
        - read:cloud
      summary: Disassociate a key from a machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/reboot:
    post:
      description: Reboot target machine
      operationId: reboot_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine reboot issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - reboot:machine
      - CookieAuth:
        - reboot:machine
      summary: Reboot machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/rename:
    post:
      description: Rename target machine
      operationId: rename_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - description: New machine name
        example: my-renamed-machine
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Machine renamed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - rename:machine
      - CookieAuth:
        - rename:machine
      summary: Rename machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/resize:
    post:
      description: Resize target machine
      operationId: resize_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - example: 9417745961a84bffbf6419e5of68faa5
        explode: true
        in: query
        name: size
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Machine resize issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - resize:machine
      - CookieAuth:
        - resize:machine
      summary: Resize machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/resume:
    post:
      description: Resume target machine
      operationId: resume_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine resume issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - resume:machine
      - CookieAuth:
        - resume:machine
      summary: Resume machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/ssh:
    post:
      description: Open secure shell on target machine
      operationId: ssh
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to machine shell
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:cloud
        - read:machine
        - ssh:machine
      - CookieAuth:
        - read:cloud
        - read:machine
        - ssh:machine
      summary: Open secure shell
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
    x-cli-ignore: true
  /api/v2/machines/{machine}/actions/start:
    post:
      description: Start target machine
      operationId: start_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine start issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - start:machine
      - CookieAuth:
        - start:machine
      summary: Start machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/stop:
    post:
      description: Stop target machine
      operationId: stop_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine stop issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - stop:machine
      - CookieAuth:
        - stop:machine
      summary: Stop machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/suspend:
    post:
      description: Suspend target machine
      operationId: suspend_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine suspend issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - suspend:machine
      - CookieAuth:
        - suspend:machine
      summary: Suspend machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/actions/undefine:
    post:
      description: Undefine target machine
      operationId: undefine_machine
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: delete_domain_image
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Machine undefine issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - undefine:machine
      - CookieAuth:
        - undefine:machine
      summary: Undefine machine
      tags:
      - machines
      x-openapi-router-controller: mist_api_v2.controllers.machines_controller
  /api/v2/machines/{machine}/snapshots:
    get:
      description: List snapshots of target machine
      operationId: list_snapshots
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSnapshotsResponse'
          description: List machine snapshots response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
      summary: List machine snapshots
      tags:
      - snapshots
      x-openapi-router-controller: mist_api_v2.controllers.snapshots_controller
    post:
      description: Create snapshots of target machine
      operationId: create_snapshot
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - example: my-snapshot
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSnapshotResponse'
          description: Create machine snapshot response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      summary: Create snapshot
      tags:
      - snapshots
      x-openapi-router-controller: mist_api_v2.controllers.snapshots_controller
  /api/v2/machines/{machine}/snapshots/{snapshot}:
    delete:
      description: Remove target machine snapshot
      operationId: remove_snapshot
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - example: my-snapshot
        explode: false
        in: path
        name: snapshot
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Snapshot removed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      summary: Remove snapshot
      tags:
      - snapshots
      x-openapi-router-controller: mist_api_v2.controllers.snapshots_controller
    post:
      description: Revert machine to snapshot
      operationId: revert_to_snapshot
      parameters:
      - example: my-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - example: my-snapshot
        explode: false
        in: path
        name: snapshot
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Revert machine to snapshot issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - revert_to_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - revert_to_snapshots:machine
      summary: Revert to snapshot
      tags:
      - snapshots
      x-openapi-router-controller: mist_api_v2.controllers.snapshots_controller
  /api/v2/networks:
    get:
      description: List networks owned by the active org. READ permission required
        on network & cloud.
      operationId: list_networks
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by network name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 1000 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: "cloud:provider, creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksResponse'
          description: List networks response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:network
        - read:cloud
      - CookieAuth:
        - read:network
        - read:cloud
      summary: List networks
      tags:
      - networks
      x-cli-table-default:
      - name
      - cloud
      - machines
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - external_id
      - machines
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
    post:
      description: "Creates one or more networks on the specified cloud. If async\
        \ is true, a jobId will be returned.\nREAD permission required on cloud. CREATE_RESOURCES\
        \ permission required on cloud. CREATE permission required on network.\n"
      operationId: create_network
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNetworkResponse'
          description: Network provisioning started
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "501":
          description: Network support is not available
      security:
      - ApiKeyAuth:
        - create:network
        - read:cloud
        - create_resources:cloud
      - CookieAuth:
        - create:network
        - read:cloud
        - create_resources:cloud
      summary: Create network
      tags:
      - networks
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
  /api/v2/networks/{network}:
    delete:
      description: Delete target network
      operationId: delete_network
      parameters:
      - example: my-network
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: Cloud the target network belongs to
        example: my-cloud
        explode: true
        in: query
        name: cloud
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Network deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Network not found
      security:
      - ApiKeyAuth:
        - read:cloud
        - read:network
        - remove:network
      - CookieAuth:
        - read:cloud
        - read:network
        - remove:network
      summary: Delete network
      tags:
      - networks
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
    get:
      description: Get details about target network
      operationId: get_network
      parameters:
      - example: my-network
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: "id,name,owned_by"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: "cloud:provider, creator:email, owned_by:name"
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkResponse'
          description: Network returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Network not found
      security:
      - ApiKeyAuth:
        - read:network
        - read:cloud
      - CookieAuth:
        - read:network
        - read:cloud
      summary: Get network
      tags:
      - networks
      x-cli-table-default:
      - name
      - cloud
      - machines
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - location
      - external_id
      - subnets
      - machines
      - tags
      - owned_by
      - created_by
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
    put:
      description: Edit target network
      operationId: edit_network
      parameters:
      - example: my-network
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: New network name
        example: my-renamed-network
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Network successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Network not found
      security:
      - ApiKeyAuth:
        - edit:network
      - CookieAuth:
        - edit:network
      summary: Edit network
      tags:
      - networks
      x-openapi-router-controller: mist_api_v2.controllers.networks_controller
  /api/v2/orgs:
    get:
      description: List orgs owned by the requester. If parameter allorgs is true
        and requester is an admin then all orgs will be listed.
      operationId: list_orgs
      parameters:
      - description: Return all existing organizations
        example: true
        explode: true
        in: query
        name: allorgs
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by orgs by name:
            value: name:Acme
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: "Limit number of results, 100 max"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return name, id, teams:
            value: "name,id,teams"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference teams:
            value: teams:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      - description: "Limit results by specific datetime. Return resources created\
          \ before or at, or deleted after or at, given datetime."
        examples:
          Return resources created before or deleted after `2021-07-21T17:32:28Z`:
            value: 2021-07-21T17:32:28Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgsResponse'
          description: List orgs response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: List orgs
      tags:
      - orgs
      x-cli-table-default:
      - name
      - clouds_count
      - teams_count
      x-cli-table-extended:
      - name
      - id
      - clouds_count
      - teams_count
      - last_active
      x-openapi-router-controller: mist_api_v2.controllers.orgs_controller
    post:
      description: Create an organization.
      operationId: create_org
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org'
          description: Organization created
        "400":
          description: Bad Request
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: Create org
      tags:
      - orgs
      x-openapi-router-controller: mist_api_v2.controllers.orgs_controller
    x-cli-ignore: true
  /api/v2/orgs/{org}:
    get:
      description: Get details about target org
      operationId: get_org
      parameters:
      - example: my-org
        explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      - description: Return total number for each org specific resource
        explode: true
        in: query
        name: summary
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return name, id, teams:
            value: "name,id,teams"
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference teams by name:
            value: teams:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrgResponse'
          description: Organization returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Org not found
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: Get Org
      tags:
      - orgs
      x-cli-table-extended:
      - name
      - id
      - clouds_count
      - total_machine_count
      - last_active
      x-openapi-router-controller: mist_api_v2.controllers.orgs_controller
    patch:
      description: Update organization
      operationId: update_org
      parameters:
      - description: Organization id
        example: my-org
        explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchOrganizationRequest'
      responses:
        "200":
          description: Organization updated succesfully
        "400":
          description: Bad Request
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      tags:
      - orgs
      x-openapi-router-controller: mist_api_v2.controllers.orgs_controller
    x-cli-ignore: true
  /api/v2/orgs/{org}/members:
    get:
      description: List org members owned by the requester. The requester must be
        a member of the org.
      operationId: list_org_members
      parameters:
      - example: my-org
        explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      - description: Only return results matching search filter
        examples:
          Filter by orgs by email:
            value: email:dev@mist.io
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
[...]
